	<!DOCTYPE html>
<html>
	<head>
		<title>Tesla-CPO</title>
	</head>
	<style type="text/css">
	body {
		font-family: sans-serif;
		width: 800px;
		margin: 0 auto;
		padding: 10px;
	}

	.error {
		color:red;
	}

	label {
		display: block;
		font-size: 20px;
	}

	input[type=text] {
		width: 400px;
		font-size: 20px;

	}

	textarea {
		width: 400px;
		height: 200px;
		font-size: 17px;
		font-family: monospace;
	}

	input[type=submit]{
		font-size: 24px
	}

	.top_links {
		display:inline;
		text-align: center;
	}

	
	</style>
	<body>
		<h1>Tesla CPO Site</h1>


		<form method = "post">
			<label>
				<div>Id</div>
				<input type="text" name="Id">
			</label>
			<label>
				<div>Status</div>
				<input type="text" name="Status">
			</label>
			<label>
				<div>Datetime</div>
				<input type="Datetime" name="Datetime">
			</label>
			<label>
				<div>Mileage</div>
				<input type="number" name="Mileage">
			</label>
			<label>
				<div>Price</div>
				<input type="number" name="Price">
			</label>
			
			<label>
				<div>Username</div>
				<input type="text" name="Username">
			</label>
			<label>
				<div>Password</div>
				<input type="password" name="Password">
			</label>
			<input type = "submit">
		</form>
	

   	</body>
</html>