<!doctype html>
<html>
<head>
<script type="text/javascript">
function showMileage(newValue)
{ 
	label_text = newValue / 1000
	document.getElementById("Mileage_label").innerHTML="Max Mileage: " + label_text + "k";

}
function showPrice(newValue)
{ 
	label_text = newValue / 1000
	document.getElementById("Price_label").innerHTML="Max Price: " + label_text + "k";

}
</script>
<style>
#QueryForm {
	background-color: rgb(220,220,220);
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: rgb(116, 116, 116);
	padding: 5px;
}	

#pricerange {color: white;}
#mileagerange {color: white;}

</style>
</head
<body>
<div id="QueryForm" style={}>
<form method="get">

<div id= "FirstRow">
<select name=Model>
	<option value="Any">Any Model</option>
	<option value="BT60">60 RWD</option>
	<option value="BT70">70 RWD</option>
	<option value="BT70D">70 AWD</option>
	<option value="BT85">85 RWD</option>
	<option value="BT85D">85 AWD</option>
	<option value="BT90">90 RWD</option>
	<option value="BT90D">90 AWD</option>
	<option value="PBT85">P85 RWD</option>
	<option value="P85plus">P85+ RWD</option>
	<option value="P85D">P85 AWD</option>
	<option value="P90D">P90 AWD</option>
</select>
<select name=Location>
	<option value="Any">Any Location</option>
	<option value="Atlanta">Atlanta</option>
	<option value="Chicago">Chicago</option>
	<option value="Florida">Florida</option>
	<option value="Hawaii">Hawaii</option>
	<option value="Los Angeles">Los Angeles</option>
	<option value="New England">New England</option>
	<option value="New York">New York</option>
	<option value="Ohio">Ohio</option>
	<option value="Orange County / San Diego">Orange County / San Diego</option>
	<option value="Pennsylvania">Pennsylvania</option>
	<option value="Rocky Mountains">Rocky Mountains</option>
	<option value="San Francisco">San Francisco</option>
	<option value="Seattle">Seattle</option>
	<option value="Washington DC">Washington DC</option>
</select>
<select name=Year>
	<option value="Any">Any Model Year</option>
	<option value="2012">2012</option>
	<option value="2013">2013</option>
	<option value="2014">2014</option>
	<option value="2015">2015</option>
</select>
<select name=Wheel>
	<option value="">Any Wheel Type</option>
	<option value="WT19">19" Wheel</option>
	<option value="WT21">21" Turbine Light Non-Sport</option>
	<option value="WTSS">21" Turbine Light Sport</option>
	<option value="WTSP">21" Turbine Dark Non-Sport</option>
	<option value="WTSG">21" Turbine Dark Sport</option>
	<option value="WTTB">19" Turbine</option>
	<option value="WTAE">19" Aero Wheel</option>
</select>
<select name=Roof>
	<option value="Any">Any Roof Type</option>
	<option value="RFPO">Panoramic Roof</option>
	<option value="RFBC">Body Color</option>
	<option value="RFBK">Black Color Roof</option>
	<option value="RFP2">Updated Panoramic Roof</option>
</select>
</div>
<div id="SecondRow">
<span><label id="Price_label">Max Price: 80k</label>
<input id="pricerange" type="range"	name="Price" value="80000" min="0" max="150000" step="5000" oninput="showPrice(this.value)" style="width:250px"></span>
<span><label id="Mileage_label">Max Mileage: 50k</label>
<input id="mileagerange" type="range"	name="Mileage" value="50000" min="0" max="150000" step="5000" oninput="showMileage(this.value)" style="width:250px"></span>
</div>
 <input type="Submit" value="Submit">
</form>
</div>
</body>
</html>